# APPLICATION CONFIGURATION
APP_PORT=3000
APP_HOST=localhost:8380
APP_TIMEZONE=Asia/Jakarta

# DATABASE CONFIGURATION
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=letsgo
DB_USERNAME=postgres
DB_PASSWORD=password
DB_SSLMODE=disable

# REDIS CONFIGURATION
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT CONFIGURATION
JWT_SECRET=supersecret
JWT_ISSUER=letsgo
JWT_EXPIRY=600